body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.breadcrumbs{
    color: #565959;
    display: block;
}
.title {
    font-weight: lighter;
}

.main{
    display: flex;
}
.main-img {
    box-shadow: 0px 2px 5px lightgray;
    
    height: 800px;
    margin-right: 50px;
}
a{
    color: #007185;
}